@import '~src/assets/sass/styles';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  height: 86px;
  margin: 0px;
  padding: 0 15px;
  background-color: #E0E0E0;
  color: $grey;

  button {
    background-color: transparent;
    border: none;
  }

  ul {
    position: fixed;
    top: 0;
    right: -100%;
    min-width: 280px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $grey;
    transition: right ease .3s;

    img {
      margin: 15px;
    }

    li {
      font-weight: bold;
      width: 100%;
      line-height: 30px;
      text-align: right;
      list-style-type: none;

      a {
        color: white;
        text-decoration: none;
        padding-right: 15px;
      }
    }

    li:last-of-type {
      background-color: #ededed;

      a {
        color: $grey;
      }
    }
  }

  &-aberto {
    right: 0 !important;
  }

  @media screen and (min-width: 1024px) {
    button {
      display: none;
    }

    ul {
      position: relative;
      right: 0;
      display: flex;
      justify-content: space-around;
      line-height: 36px;
      background-color: #E0E0E0;
      align-items: center;

      img {
        display: none;
      }

      li,
      li:last-of-type {
        padding: 0 15px;
        background-color: white;

        a {
          color: $grey;
        }
      }

    }
  }
}
