<section class="extrato-transacoes">
  <h3>Extrato transações</h3>

  <table>
    <tr>
      <th></th>
      <th class="left">Mercadoria</th>
      <th class="right">Valor</th>
    </tr>

    <tr *ngFor="let i of extratoObject">
      <td>{{i.tipo === 'Compra' ? '-' : '+'}}</td>
      <td>{{i.nome}}</td>
      <td class="right">R$ {{i.valor}}</td>
    </tr>

    <tr>
      <td></td>
      <td>Total</td>
      <td class="right">R$ {{total}}</td>
    </tr>

    <tr>
      <td colspan="3" class=" right" *ngIf="total != 0">[{{total > 0 ? 'LUCRO' : 'PREJUÍZO'}}]</td>
    </tr>
  </table>
</section>
