@import '~src/assets/sass/styles';

.controle-financeiro {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;

    .nova {
      width: 40%;
    }

    .extrato {
      width: 60%;
    }
  }
}
